/* Header Section */
header {
  width: 100%;
  background-color: rgb(2, 136, 220);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: black; /* Header text color */
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 80px;
  background-color: #f0f0f0;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

/* Form container styling */
.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Login page heading */
h2 {
  color: black; /* Login page heading text color */
  margin-bottom: 20px;
}

/* Labels for Username and Password */
.login-container label,
.login-container p{
  color: black; /* Set the labels' text color to black */
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

/* Input fields */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
}

/* Button styling */
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Footer styling */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: gray;
  background-color: #f1f1f1;
}
